<div style="width: 10%">
    <md-card>
        <md-card-title>
            <md-card-title-media>
                <div class="md-media-sm card-media" layout layout-align="center center">
                    <md-icon md-svg-src="{{ctrl.user.avatar}}"></md-icon>
                </div>
            </md-card-title-media>
            <md-card-title-text>
                <span class="md-headline">{{ctrl.user.userName}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>

