
<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools nav-layout">
        <div class="nav-layout">
            <md-button class="md-icon-button"  ng-click="ctrl.toggleSidebar()"  aria-label="Settings" ng-disabled="false">
                <md-icon md-svg-icon="asset/svg/menu.svg"></md-icon>
            </md-button>
            <h2>
                <span>Welcome to GMTool</span>
            </h2>
        </div>
        <div layout="row" layout-align="space-between center">
            <account></account>

        </div>
    </div>
</md-toolbar>