
<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools nav-layout">
        <div class="nav-layout">
            <md-button class="md-icon-button"  ng-click="ctrl.toggleSidebar()"  aria-label="Settings" ng-disabled="false">
                <md-icon md-svg-icon="asset/svg/menu.svg"></md-icon>
            </md-button>
            <h2>
                <span>Welcome to GMTool</span>
            </h2>
        </div>
        <div layout="row" layout-align="space-between center">
            <account></account>
            <div ng-controller="DemoCtrl as demo" ng-cloak class="fab-position">
                <div class="lock-size" layout="row" layout-align="center center">
                    <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
                                       ng-class="demo.selectedMode">
                        <md-fab-trigger>
                            <md-button aria-label="menu" class="md-fab md-warn">
                                <md-icon md-svg-src="asset/svg/menu.svg"></md-icon>
                            </md-button>
                        </md-fab-trigger>
                        <md-fab-actions>
                            <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                                <md-icon md-svg-src="asset/svg/twitter.svg" aria-label="Twitter"></md-icon>
                            </md-button>
                            <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                                <md-icon md-svg-src="asset/svg/google_plus.svg" aria-label="Facebook"></md-icon>
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </div>
            </div>
        </div>
    </div>
</md-toolbar>